body{
	background-color:lightYellow;
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rating{
	padding-bottom:2px;
	margin-bottom:4px;
	border-bottom:thin solid lightgray;
}

.rating  em{
	font-size:11px;
	color:gray;
}